  body {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212A3E;
  }

  .div-header {
    display: block;
    background-color:#363f54;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 130px;
    margin: 20px 30px;
    border-radius: 50px;
    
  }

  .btn-socialHub {
    width: 200px;
    height: 130px;
    background-color: transparent;
    padding-top: 15px;
    color:#F1F6F9;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }

  .btn-socialHub-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .link {
    text-decoration: none;
    color:#F1F6F9;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    display: block;
    font-weight: bold;
  }

  .div-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    margin-top:25px;
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .div-main-info {
    margin-top: 30px;
  }

  .myInfo,.infoHead,.myName{
    margin-top: 10px;
    font-size: 18px;
    width: 800px;
    color: #F1F6F9;
    margin-left: 40px;
    text-align: center;
    margin-right: 150px;
  }

  .infoHead {
    color: #9BA4B5;
    font-size: 26px;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 50px;
  }

  .myName {
    font-size: 42px;
  }

  .myImg {
    margin-top: 40px;
    height:400px;
    width: 400px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #F1F6F9;
    
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    border-radius: 30px;
    margin-top:25px;
    margin-left: 20px;
    margin-right: 20px;
   
  }

  .mySkills {
    color: #9BA4B5;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: underline dotted;
  }

  .allSkills {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    width: 80%;
  }

  .skill-img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid black;
  }



  .myfooter {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact {
    color: #9BA4B5;
    font-weight: bolder;
    text-align: center;
    font-size: 24px;
    text-decoration: underline dashed;
  }

  .address,.mob,.gmail  {
    color: #F1F6F9;
    text-align: center;
    font-size: 18px;
  }

  .hor {
    width: 90%;
    height: 1px;
    border: 2px solid #F1F6F9;

  }

  .gmail{
    margin-bottom: 40px;
  }

  .thanks, .tools-used {
    color: #9BA4B5;
    font-size: 20px;
    text-align: center;
  }

  .hor2 {

    width: 90%;
    height: 1px;
    border: 2px solid #F1F6F9;
    margin-bottom: 50px;

  }



